@media screen and (max-width: 480px) {
    .nome{
        background:white;}
  }

.nome{
    background: blue;
    align-items:center;
    justify-content:left;
    color: white;
    text-align: left;
    display: flex;
    width:60%;
    left:5%;
}

.profissao{
    background: blue;
    align-items:center;
    justify-content:left;
    color: white;
    text-align: left;
    display: flex;
    width:60%;
    left:5%;
}

.obj{
    display:flex;
    align-items:center;
    justify-content:center;
    background:white;
    height: 18.6;
    width: 45.4%;
    position:absolute;
    top: 10,5%;
    left: -0.5%;
}

.objetivo{
  font-style: italic;
}

#objetivo{
    font-style: italic;
    text-align: center;
    justify-content:center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Young Serif', serif;
}

.exp{
    display:flex;
    align-items:left;
    justify-content:left;
    background: pink;
    height: 20%;
    width: 45.4%;
    position:absolute;
    top: 29%;
    left: 0,5%;
}

.experiencia{
    font-style: italic;
}

#tabela1{
    margin: 2% 0% 0% -4%;
    text-align: center;
    background-color:white;
    width: 120%;
    height: 20%;
}
.esc{
    display:flex;
    align-items:left;
    justify-content:left;
    background: white;
    height: 20%;
    width: 45.4%;
    position:absolute;
    top: 49%;
    left: 0,5%;
}

.escolaridade{
    font-style: italic;
}

#tabela2{
    margin: 0% 0% 0% 0%;
    text-align: center;
    background-color:pink;
    width: 120%;
    height: 20%;
}

.crs{
    display:flex;
    align-items:left;
    justify-content:left;
    background:pink;
    height: 20%;
    width: 45.4%;
    position:absolute;
    top: 69%;
    left: 0,5%;
}

.cursos{
    font-style: italic;
}

#cursos{
    text-align: left;
}

.right{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background:plum;
    height: 117%;
    width: 14%;
    position:absolute;
    top: 13.8%;
    left: 45.85%;
}

#foto{
    width: 145px;
    height: 80%;
}

.cont{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background: pink;
    height: 0%;
    width: 25%;
    position:absolute;
    top: 85%;
    left: 3,5%;
}
.contato{
    font-style: italic;
}

#nome{
     margin: 1% 1%
}

#profissao{
    margin: 1% 1%
}

textarea{
    margin: 1px 0;
    width: 250px;
    height: 100px;
    background-color: plum;
}

#text1{
    background-color: plum;
}

#text2{
    background-color: plum;
}

.nome {
    text-align: center;
  }

  #nome {
    animation: color-change 1s infinite;
  }

  @keyframes color-change {
    0% {
      color: white;
    }
    50% {
      color: black;
    }
    100% {
      color: white;
    }
  }